<% @page_title = "Serviços e procedimentos" %>

<nav class="<%= Settings.tema.cor.secundaria %>">
    <div class="nav-wrapper">
      <%= search_form_for @q do |f| %>
        <div class="input-field">
          <%= f.search_field :name_cont, placeholder: "Buscar pelo nome" %>
          <%= f.label :name_cont, class: "label-icon" do %>
            <i class="material-icons">search</i>
          <% end %>
          <i class="material-icons">close</i>
        </div>
      <% end %>
    </div>
  </nav>
<div class="center-align">
  <%= paginate @services, views_prefix: 'paginator' %>
  <small><%= page_entries_info @services %></small>
</div>

<table class="highlight">
  <thead>
    <tr>
      <th><%= sort_link(@q, :name, 'Nome', {}, {remote: false, class: Settings.tema.cor.link}) %></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= link_to service.name, service, class: Settings.tema.cor.link %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="fixed-action-btn">
  <%= link_to new_service_path, class: "btn-floating btn-large waves-effect waves-light #{Settings.tema.cor.primaria}" do %>
    <i class="material-icons">add</i>
  <% end %>
</div>
