<% @page_title = "Instituições" %>
  <div class="faixa-titulos">

      
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <div class="titulo-bc">
            <h3>Instituições - Cadastro</h3>
          </div>
        </div><!-- /col -->
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="titulo-actions text-right">
          <%= link_to new_institute_path, :class => 'btn btn-default' do %>
            <span class="glyphicon glyphicon-plus"></span> Novo
          <% end %> 

          </div>
        </div><!-- /col -->
      </div><!-- /row -->

  </div><!-- /.faixa-titulos -->



<p id="notice"><%= notice %></p>

<h1>Institutes</h1>

<table class="striped">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @institutes.each do |institute| %>
      <tr>
        <td><%= institute.name %></td>
        <td><%= link_to 'Show', institute %></td>
        <td><%= link_to 'Edit', edit_institute_path(institute) %></td>
        <td><%= link_to 'Destroy', institute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Institute', new_institute_path %>
<a class="btn-floating btn-lg purple-gradient"><i class="fas fa-bolt"></i></a>