<% @page_title = "Clientes" %>
<%# Settings.institutional.name %>
<table class="highlight">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Whatsapp</th>
      <th>Cidade</th>
      <th>Estado</th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= link_to client.name, client %></td>
        <td><%= client.whatsapp %></td>
        <td><%= client.city %></td>
        <td><%= client.province %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="fixed-action-btn">
  <%= link_to new_client_path, class: "btn-floating btn-large waves-effect waves-light teal darken-1" do %>
    <i class="material-icons">add</i>
  <% end %>
</div>
