<p id="notice"><%= notice %></p>

<h1>Clients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Whatsapp</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Cep</th>
      <th>City</th>
      <th>Province</th>
      <th>Birth data</th>
      <th>Cpf</th>
      <th>Rg</th>
      <th>Email</th>
      <th>Occupation</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.whatsapp %></td>
        <td><%= client.phone %></td>
        <td><%= client.address %></td>
        <td><%= client.cep %></td>
        <td><%= client.city %></td>
        <td><%= client.province %></td>
        <td><%= client.birth_data %></td>
        <td><%= client.cpf %></td>
        <td><%= client.rg %></td>
        <td><%= client.email %></td>
        <td><%= client.occupation %></td>
        <td><%= client.notes %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %>
