<% @page_title = "Clientes" %>
<%# Settings.institutional.name %>

<nav class="teal darken-1">
    <div class="nav-wrapper">
      <%= search_form_for @q do |f| %>
        <div class="input-field">
          <%= f.search_field :name_cont, placeholder: "Buscar pelo nome" %>
          <%= f.label :name_cont, class: "label-icon" do %>
            <i class="material-icons">search</i>
          <% end %>
          <i class="material-icons">close</i>
        </div>
      <% end %>
    </div>
  </nav>
<div class="center-align">
  <%= paginate @clients, views_prefix: 'paginator' %>
  <small><%= page_entries_info @clients %></small>
</div>

<table class="highlight">
  <thead>
    <tr>
      <th><%= sort_link(@q, :name, remote: true) %></th>
      <th>Whatsapp</th>
      <th>Cidade</th>
      <th>Estado</th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= link_to client.name, client %></td>
        <td><%= client.whatsapp %></td>
        <td><%= client.city %></td>
        <td><%= client.province %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="fixed-action-btn">
  <%= link_to new_client_path, class: "btn-floating btn-large waves-effect waves-light teal darken-1" do %>
    <i class="material-icons">add</i>
  <% end %>
</div>