<% @page_title = "Clientes" %>
<%# Settings.institutional.name %>

<%= search_form_for @q do |f| %>
  <%= f.label :name_cont %>
  <%= f.search_field :name_cont, :class => 'form-control', :placeholder => 'Buscar por...' %>
  <%= f.submit %>
<% end %>

<%= paginate @clients %>
<table class="highlight">
  <thead>
    <tr>
      <th><%= sort_link(@q, :name, remote: true) %></th>
      <th>Whatsapp</th>
      <th>Cidade</th>
      <th>Estado</th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= link_to client.name, client %></td>
        <td><%= client.whatsapp %></td>
        <td><%= client.city %></td>
        <td><%= client.province %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="fixed-action-btn">
  <%= link_to new_client_path, class: "btn-floating btn-large waves-effect waves-light teal darken-1" do %>
    <i class="material-icons">add</i>
  <% end %>
</div>
