<% @page_title = @client.name %>

<p class="flow-text">
  <strong>Nome:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Whatsapp:</strong>
  <%= @client.whatsapp %>
</p>

<p>
  <strong>Telefone alternativo:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @client.cep %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @client.city %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @client.province %>
</p>

<p>
  <strong>Data de nascimento:</strong>
  <%# @client.birth_date.strftime("%d/%m/%Y") if @client.birth_date %>
  <%=l @client.birth_date, format: :long if @client.birth_date.present? %>
</p>
<p>
   <strong>Idade:</strong>
  <%= time_ago_in_words(@client.birth_date) if @client.birth_date.present? %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @client.cpf %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @client.rg %>
</p>

<p>
  <strong>Profissão:</strong>
  <%= @client.occupation %>
</p>

<p>
  <strong>Anotações:</strong>
  <%= @client.notes %>
</p>

<div class="fixed-action-btn">
  <%= link_to edit_client_path(@client), class: "btn-floating btn-large waves-effect waves-light #{Settings.tema.cor.primaria}" do %>
    <i class="material-icons">create</i>
  <% end %>
  <%= link_to @client, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn-floating btn-large waves-effect waves-light red" do %>
    <i class="material-icons">delete</i>
  <% end %>
  <%= link_to clients_path, class: "btn-floating btn-large waves-effect waves-light #{Settings.tema.cor.primaria}" do %>
    <i class="material-icons">arrow_back</i>
  <% end %>
</div>

<div class="collection with-header">
  <div class="collection-header"><h5 class="flow-text"><i class="tiny material-icons">details</i>Atendimentos realizados:</h5></div>
  <% @client.appointments.each do |appointment| %>
    <% lista_servicos = '' %>
    <% appointment.services.each do |service|
       lista_servicos << "[" + service.name + "] "
    end %>
    <% if appointment.schedule_on.present? and appointment.appointment_time.present? %>
      <%= link_to l(appointment.schedule_on, format: '%A, %d de %B de %Y') + ' - ' + appointment.appointment_time.strftime("%H:%M") + ' - ' + lista_servicos + ' - ' + appointment.calendar.name, appointment, class: "collection-item #{Settings.tema.cor.link}" %>
      <% end %>
  <% end %>
</div>
