<% @page_title = @client.name %>

<p>
  <strong>Nome:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Whatsapp:</strong>
  <%= @client.whatsapp %>
</p>

<p>
  <strong>Telefone alternativo:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @client.cep %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @client.city %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @client.province %>
</p>

<p>
  <strong>Data de nascimento:</strong>
  <%# @client.birth_date.strftime("%d/%m/%Y") if @client.birth_date %>
  <%=l @client.birth_date, format: :long if @client.birth_date.present? %>
</p>
<p>
   <strong>Idade:</strong>
  <%= time_ago_in_words(@client.birth_date) if @client.birth_date.present? %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @client.cpf %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @client.rg %>
</p>

<p>
  <strong>Profissão:</strong>
  <%= @client.occupation %>
</p>

<p>
  <strong>Anotações:</strong>
  <%= @client.notes %>
</p>

<div class="fixed-action-btn">
  <%= link_to edit_client_path(@client), class: "btn-floating btn-large waves-effect waves-light teal darken-1" do %>
    <i class="material-icons">create</i>
  <% end %>
  <%= link_to @client, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn-floating btn-large waves-effect waves-light red" do %>
    <i class="material-icons">delete</i>
  <% end %>
  <%= link_to clients_path, class: "btn-floating btn-large waves-effect waves-light teal darken-1" do %>
    <i class="material-icons">arrow_back</i>
  <% end %>
</div>


<h5><i class="material-icons">arrow_drop_down</i>Atendimentos realizados:</h5>

        


<div class="card">
  <div class="card-content black-text">
    <span class="card-title">Card Title</span>
    <p>I am a very simple card. I am good at containing small bits of information.
    I am convenient because I require little markup to use effectively.</p>
  </div>
  <div class="card-action">
    <a href="#">This is a link</a>
    <a href="#">This is a link</a>
  </div>
</div>

