<% @page_title = Settings.institutional.name %>
<h2>Welcome</h2>
<h3><%= current_user.email %></h3>
<p><%= Settings.tema.cor.primaria %></p>
<p><%= Settings.tema.cor.secundaria %></p>
<p>Data: <%= Date.current %></p>
<p>Data /zone: <%# Date.zone.current %></p>
<%= onde_estou %>