<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @appointment.name %>
</p>

<p>
  <strong>Data:</strong>
  <%= @appointment.schedule_on %>
</p>

<p>
  <strong>Horário:</strong>
  <%= @appointment.appointment_time_only %>
</p>

<p><strong>Serviços: </strong>
	<%= @appointment.services.map(&:name).join(" - ") %>
</p>

<p>
  <strong>Client:</strong>
  <%= @appointment.client.name %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
