<% @page_title = @appointment.name %>

<p>
  <strong>Name:</strong>
  <%= @appointment.name %>
</p>

<p>
  <strong>Data:</strong>
  <%= @appointment.schedule_on %>
</p>

<p>
  <strong>Horário:</strong>
  <%= @appointment.appointment_time_only %>
</p>

<p><strong>Serviços: </strong>
	<%= @appointment.services.map(&:name).join(" - ") %>
</p>

<p>
  <strong>Client:</strong>
  <%= @appointment.client.name if @appointment.client.present? %>
</p>

<div class="fixed-action-btn">
  <%= link_to edit_appointment_path(@appointment), class: "btn-floating btn-large waves-effect waves-light #{Settings.tema.cor.primaria}" do %>
    <i class="material-icons">create</i>
  <% end %>
  <%= link_to @appointment, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn-floating btn-large waves-effect waves-light red" do %>
    <i class="material-icons">delete</i>
  <% end %>
  <%= link_to :back, class: "btn-floating btn-large waves-effect waves-light #{Settings.tema.cor.primaria}" do %>
    <i class="material-icons">arrow_back</i>
  <% end %>
</div>