<nav class="navbar navbar-expand-lg navbar-dark bg-dark faixa-menu">
  <%= link_to root_path, class: 'navbar-brand' do %>
    <%= image_tag 'net-agenda-logo-40.png', alt: 'Net Agenda', class: "logo-brand" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">TESTE <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= octicon "gear", :height => 24, :class => "octicon-nav" %>
        </a>
        <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
            <%= octicon "person" %>
            <%= current_user.email %>
          <% end %>
          <div class="dropdown-divider"></div>
          <%= link_to destroy_user_session_path, class: "dropdown-item", method: :delete do %>
                <%= octicon "sign-out" %> Sair <% end %>
        </div>
      </li>
    </ul>
  </div>
 
</nav>
