<div class="navbar-fixed">
  <nav class="teal darken-1">
    <div class="container">
      <div class="nav-wrapper">
        <%= link_to root_path, class: 'brand-logo' do %>
          <%# image_tag 'net-agenda-logo-40.png', alt: 'NetAgenda', class: 'logo-img-40 hide-on-small-onlyx' %>
          <%= image_tag 'net-agenda-logo.png', alt: 'NetAgenda', class: 'logo-img-20 hide-on-med-and-upx hoverable' %>
         <% end %>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li class="<%= active?('clients')%>"><%= link_to 'Clientes', clients_path %></li>
          <li class="<%= active?('services')%>"><%= link_to 'Serviços', services_path %></li>
          <li class="<%= active?('calendars')%>"><%= link_to 'Calendarios', calendars_path %></li>
          <li class="<%= active?('appointments')%>"><%= link_to 'Agendamentos', appointments_path %></li>
          <li><%= link_to edit_user_registration_path do %><i class="material-icons">settings</i><% end %></li>                   
          <li><%= link_to destroy_user_session_path, method: :delete do %><i class="material-icons">power_settings_new</i><% end %></li>
        </ul>
      </div>
    </div><!-- /container -->
  </nav>
</div><!-- /.navbar-fixed -->
    <ul class="sidenav" id="mobile-demo">
      <li><a class="sidenav-close" href="#!"><i class="material-icons">close</i></a></li>
      <li class="<%= active?('clients')%>"><%= link_to 'Clientes', clients_path %></li>
      <li class="<%= active?('services')%>"><%= link_to 'Serviços', services_path %></li>
      <li class="<%= active?('calendars')%>"><%= link_to 'Calendarios', calendars_path %></li>
      <li class="<%= active?('appointments')%>"><%= link_to 'Agendamentos', appointments_path %></li>
      <li><%= link_to 'Configurações', edit_user_registration_path %></li>          
      <li><%= link_to destroy_user_session_path, method: :delete do %><i class="material-icons">power_settings_new</i>Sair<% end %></li>
      <div id="events_calendar_side" class="side-calendar">
        <% if request.env['PATH_INFO'] == '/appointments' %>
          <%= render partial: "appointments/calendar", locals: {events: @appointments} %>
        <% end %>
      </div>
    </ul>