<!DOCTYPE html>
<html>
  <head>
    <title>Netagenda</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="NetAgenda - Software simplificado para agendamento">
    <meta name="author" content="@michielin">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="manifest" href="/manifest.json" />
<meta name="apple-mobile-web-app-capable" content="yes"></head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="container-fluid">
    <%= yield %>
    <hr>
<% if user_signed_in? %>
                          <%= link_to edit_user_registration_path do %><span class="glyphicon glyphicon-user"></span> <%= current_user.email %><% end %>
                          <br>
                          <%= link_to destroy_user_session_path, method: :delete do %><span class="glyphicon glyphicon-log-out"></span> Sair <% end %>
                           <br>
                        <% else %>
                          <%= link_to new_user_session_path do %><span class="glyphicon glyphicon-log-in"></span> Login <% end %>
                          <br>
<% end %>
    </div><!-- /container-fluid -->
  </body>
</html>
