<!DOCTYPE html>
<html lang=pt-br>
  <head>
    <title><%= @page_title || "Net Agenda" %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="NetAgenda - Software simplificado para agendamento">
    <meta name="author" content="@michielin">
    <%= render 'application/favicon' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="manifest" href="/manifest.json" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="turbolinks-cache-control" content="no-preview">
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'layouts/navbar' %>
      <div class="faixa-titulos">
        <div class="container">
          <div class="row">
            <h5 class="col xl8 l8 m8 s12 titulos flow-text truncate">
              <%= @page_title || "Coloque um titulo aqui" %>
            </h5>
              <%= render 'layouts/calendarselect' if (params[:controller] == 'appointments' and action_name == "index") %>
          </div><!-- /row -->
        </div><!-- /container -->
      </div><!-- /faixa-titulos -->
    <% end %>
      <% flash.each do |type, message| %>
        <% tipo = materialize_class_for(type) %>
        <% icon = icon_type_for(type) %>
        <%= javascript_tag "M.toast({html: '<i class=\"material-icons\">#{icon}</i>  <strong>#{message}</strong>', classes: '#{tipo}' })" %>
      <% end %>
    <div class="container">
      <%= yield %>
    </div><!-- /container -->
  </body>
</html>